body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.columnTitle {
    text-align: center;
}

.topicName {
    text-align: center;
    font-family: 'Passion One', cursive;
    font-size: 6.8rem;
    margin-bottom: 1.4rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    transition: all 0.5s ease;
    font-weight: 900;
    line-height: .8;
    /*color: white;*/
}

.detailedExplain {
    margin: 30px;
    font-size: 18px;
    line-height: 1.7em;
}



.topicPic {
    text-align: center;
    height: 400px;
    width: auto;
        border: 1px solid #d1d1d1;
    box-shadow: rgba(0,0,0, 0.0980392) 0px 3px 12px 1px;
    margin-bottom: 50px;
    margin-top: 20px;
}

#twitter-widget-0
{
          max-height:100vh;

}

.linkPlusDate {
    min-height: 60px;
    height: auto;
    width: 100%;
    border: 1px solid #d1d1d1;
    box-shadow: rgba(0,0,0, 0.0980392) 0px 3px 12px 1px;
    margin: 5px;
    background-color: white;
}


.publishDate {
    /*float: left;*/
}
.publisherImg {
    float: left;
    margin-top: 10px;
    height: 40px;
    width: 40px;
    margin-right: 10px;

}
.feedLink {
   font-weight: bold;
}
.tweetPoint {
    margin-left: 5px;
}
.yourComment {
    /*width: 350px !important;*/
    height: 200px;
}
.commentSelected {
    background-color: #e6ffff;
}
textarea {
    max-width: 500px;
}
.mainPointBox {
    margin-left: 60px;
}
.commentPostHolder {
    margin-left: 50px;
    margin-right: auto;
    width: 80%;
}

.postBox {
     border: 1px solid #d1d1d1;
    box-shadow: rgba(0,0,0, 0.0980392) 0px 3px 12px 1px;
    height: auto;
    width: auto;
    background-color: white;
   
}
#heart {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    background-image: url("http://vignette3.wikia.nocookie.net/divergent/images/2/24/Upvote.png/revision/latest?cb=20130305224425");
    background-size: 40px 40px;
    height: 40px;
    width: 40px;
    color: white;
    font-weight: bold;
}
.headerArrow {
    height: 30px;
    width: 20px;
    margin-left: 5px;
    margin-right: 5px;
}



.commentHeart {
        margin-top: -2px;
        margin-left: 5px;
          margin-left: 5px;

    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    background-image: url("http://vignette3.wikia.nocookie.net/divergent/images/2/24/Upvote.png/revision/latest?cb=20130305224425");
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    color: white;
    font-weight: bold;
    margin-right: 15px;
}
.commentHeartVoted {
        margin-top: 5px;
        margin-left: 6px;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    background-image: url("http://vignette3.wikia.nocookie.net/divergent/images/2/24/Upvote.png/revision/latest?cb=20130305224425");
    background-size: 20px 20px;
    opacity: .6;
    height: 20px;
    width: 20px;
    color: white;
    font-weight: bold;
    margin-right: 5px;
}
.frontHeart {
        margin-top: 5px;
        margin-left: 6px;

    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    background-image: url("http://vignette3.wikia.nocookie.net/divergent/images/2/24/Upvote.png/revision/latest?cb=20130305224425");
    background-size: 30px 40px;
    height: 40px;
    width: 30px;
    color: white;
    font-weight: bold;
    margin-right: 5px;
}
.frontHeartVoted {
        margin-top: 5px;
        margin-left: 6px;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    background-image: url("http://vignette3.wikia.nocookie.net/divergent/images/2/24/Upvote.png/revision/latest?cb=20130305224425");
    background-size: 30px 40px;
    opacity: .6;
    height: 40px;
    width: 30px;
    color: white;
    font-weight: bold;
    margin-right: 5px;
}

.intro {
    width: 100%;
    font-size: 20px;
    line-height: 1.8em;
}

.tweet {
    margin-left: 27%;
}

.imageBox {
    margin-left: 27%;
}

.linkBox {
    margin-left: 4%;
}
.sourceLink {
    font-weight: bold;
}

.quoteBox {
    margin-left: 27%;
    height: auto;
    width: 500px;
    border: 1px solid #e1e8ed;
    margin-bottom: 10px;
    border-radius: 4px;
}

.commentChunk {
    display: none;
}
    .quoteBox:hover {
        border: 1px solid #ccd6dd;
    }
    .ajaxVoted {
        display: none;
    }
.upvote {
    float: left;
    margin-left: 5px;
    margin-top: 5px;
}

textarea {
    width: 900px;
    height: 200px;
}



.linkImage {
    height: auto;
    width: 500px;
    border: 1px solid #e1e8ed;
    margin-bottom: 10px;
    border-radius: 4px;
}

    .linkImage:hover {
        border: 1px solid #ccd6dd;
    }



.quoteBox p {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
    font-size: 20px;
}

    .quoteBox p:before {
        color: #ccc;
        content: open-quote;
        font-size: 4em;
        line-height: 0.1em;
        margin-right: 0.25em;
        vertical-align: -0.4em;
    }

.editLinkForm {
    display: none;
}

.addLinkForm {
    display: none;
}

.editTopicForm {
    display: none;
}

.whatHappened {
    display: inline-flex;
     text-align: center;
    /*height: 400px;*/
    width: auto;
    margin-bottom: 50px;
    margin-top: 50px;
}
.whatHappened iframe {
    width: 700px;
    height: 200px;
    border-radius: 15px;
  
}

.chatButton{
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    background-image: url("http://www.pngall.com/wp-content/uploads/2016/04/Chat-PNG-Clipart.png");
    background-size: 30px 30px;
    height: 30px;
    width: 30px;
    color: white;
    font-weight: bold;
    float: right;
    margin-top: -22px;
}
.showCommentBox {
    /*float:right;
    margin-top: -30px;*/

}
body {
    background-color: #f2f2f2;
}
.whatHappened p {
margin-right: 10px;
text-align: left;
  
}
.showHideButtons {
    display: inline-flex;
}
.changeVotesActive {
    font-weight: bold;
}
.changeHotActive {
    font-weight: bold;
    display:none;
}

.commentBox {
    /*display:none;*/
}
.changeHotInactive {
    font-weight: bold;
        opacity: .3;
}
.changeVotesInactive {
    display:none;
    font-weight: bold;
    opacity: .3;
}
.catImage {
    border-radius: 25px;
    height: 200px;
    width: 500px;
     border: 1px solid #d1d1d1;
  box-shadow: rgba(0,0,0, 0.0980392) 0px 3px 12px 1px;
}
.catImageDiv  {
        text-align: center;
         border: 1px solid #d1d1d1;
  box-shadow: rgba(0,0,0, 0.0980392) 0px 3px 12px 1px;
  background-color: white;
}
.catMostVotes {
    display: none;
}
.userAdd {
    text-align: center;
     border: 1px solid #d1d1d1;
  box-shadow: rgba(0,0,0, 0.0980392) 0px 3px 12px 1px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  /*margin: 10px;*/
   display: block;
}
.userAdd textarea {
     display: block;
    margin-left: auto;
    margin-right: auto;
}
.userAdd button {
    margin-bottom: 10px;
}

.mainHeader {
    background-color: white;
    margin-top: 5px;
    text-align: center;
    border: 1px solid #d1d1d1;
  box-shadow: rgba(0,0,0, 0.0980392) 0px 3px 12px 1px;
}
.voteBox {
    width: 100%;
    border: 1px solid #d1d1d1;
    margin-bottom: 10px;
    /*text-align: center;*/
    min-height: 100px;
    box-shadow: rgba(0,0,0, 0.0980392) 0px 3px 12px 1px;
    margin-right: auto;
    margin-left: auto;
}
.mostVotes {
    /*display: none;*/
}
.topicLine {
    text-align: center;
    border: 1px solid #d1d1d1;
    width: 100%;
    box-shadow: rgba(0,0,0, 0.0980392) 0px 3px 12px 1px;
    min-height: 90px;
    background-color: #A7F432;
}

.columnTitle {
    /*margin-bottom: 40px;*/
}

.changeButton {
  border: 1px solid #d1d1d1;
  box-shadow: rgba(0,0,0, 0.0980392) 0px 3px 12px 1px;
    width: 200px;
    height: auto;
    margin-left: 70%;
    margin-bottom: 20px;
    text-align: center;
    background-color: #F1F1F1;
    font-weight: bold;
}

.coverTopicName {
    text-align: center;
    font-family: 'Passion One', cursive;
    font-size: 3.8rem;
    margin-bottom: 1.7rem;
    /*margin-left: 90px;*/
    /*margin-right: auto;*/
    margin-top: 10px;
    transition: all 0.5s ease;
    font-weight: 900;
    line-height: .8;
}
.navbar-brand:hover {
    color: #77DD77 !important;
    transition: 1s;
    text-shadow: 1px 1px #77DD77;
}
.navbar-brand {
    transition: 1s;
    float: left;
    padding: 15px 15px;
    font-size: 28px;
    line-height: 20px;
}

.coverDate {
    font-family: 'Lobster', cursive;
    font-size: 45px;
    font-style: italic;
    width: 285px;
}
.dateLine {
    border-bottom:solid 1px #e6e6e6;
    width: 50%;
    margin-bottom: 40px;
    margin-left: 30px;
    float: right;
}
.topicLineImg{
    height: 60px;
    width: 60px;
    border-radius: 50px;
    margin-right: 20px;
     border: 1px solid #d1d1d1;
    box-shadow: rgba(0,0,0, 0.0980392) 0px 3px 12px 1px;
    margin-left: 10px;
    margin-top: 4px;
}

.topicPlusDate {
    margin-bottom: 50px;
}

.topicIntro {
    width: 900px !important;
    height: 300px !important;
    max-width: 1000px;
}

.bigInput {
    height: 300px !important;
}

.datePlusLine {
    display: flex;
}

.shareButtons {
    /*display:none;*/
}

.twitterPicture {
    height: 40%;
    width: 100%;

    border: 1px solid black;
    background-color: #00aced;
        transition: opacity 1s ease-out;

}
.facebookPicture {
    height: 40%;
    width: 100%;
    border: 1px solid black;
    background-color: #3b5998;
        transition: opacity 1s ease-out;

}

.iconPic {
    height: 100px;
    width: 100px;
}

.shareStuff {
    display: flex;
    justify-content: space-around;
}

.shareBar {
    position: fixed;
    top: 100px;
    right: 80px;
    height: 100vh;
    width: 100px;
    transition: opacity 1s ease-out;
}

.newListTitle{
    margin-top: -15px;
    text-align: center;
    margin-bottom: 10px;
}

.newListColumn {
    border: 1px solid #d1d1d1;
    box-shadow: rgba(0,0,0, 0.0980392) 0px 3px 12px 1px;
     height:auto;
          /*height:80vh;*/

     margin-top: 10px;

}



.newsSource {
    color: #006621 !important;
    font-weight: bold;
}

.line {
    border-bottom: 1px solid #d1d1d1;
    height: 10px;
    width: 100%;
    
 
}
.linkDiv {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
}
@media (max-width: 984px) {
  .shareBar {
    display: none;
  }
}