
<div class="shareStuff">
    <div class="fb-share-button" data-href="http://www.votingforward.com/Home/Topic/1007" data-layout="button" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.votingforward.com%2FHome%2FTopic%2F1007&amp;src=sdkpreparse">Share</a></div>
    <div class="twitter-share">
        <a class="twitter-share-button"
           href='@string.Format("https://twitter.com/intent/tweet?text=Great%20Responses%20To%20{0}", Model.TopicName)'
           data-size="default">
            Tweet
        </a>
    </div>
</div>