<title>Your Website Title</title>
<div class="shareBar">
    <div class="fb-share-button"
         data-href="http://www.votingforward.com"
         data-layout="button_count"
         size="large">
        
    </div>
        
    </div>