@model IEnumerable < PoliticList.Models.Topic >


<h1>Topics</h1>

@foreach (var topic in Model)
{
    <a class="topic" href="~/Home/Topic/@topic.TopicId">
        <div class="topicPic" style='background-image: url("@topic.TopicPic");'>

            <p class="topicName">@topic.TopicName</p>

        </div>
    </a>

}


<form action="/Home/AddTopic">
    <button>AddTopic</button>
</form>

